{% extends 'base.html' %}
{% block title %}
{% if is_edit %}
  <title>Редактировать пост</title>
  {% else %}
  <title>Новый пост</title>
  {% endif %} 
{% endblock title %}
{% block content %}
<div class="container py-5">
  <div class="row justify-content-center">
    <div class="col-md-8 p-5">
      <div class="card">
        {% if is_edit %}
        <div class="card-header">       
        Редактировать пост            
        </div>
        {% else %}
        <div class="card-header">       
        Новый пост             
        </div>
        {% endif %}
        <div class="card-body">
          <form method="POST" class="post-form" enctype="multipart/form-data"
          {% if is_edit %}
          action="{% url 'posts:post_edit' post.id %}">
          {% else %}
          action= "{% url 'posts:post_create' %}">
          {% endif %}             
            {% csrf_token %}
            <div class="card-body">
            {% load user_filters %}
            {% include 'posts/includes/form_errors.html' %}
              {% csrf_token %}
            {% include 'posts/includes/form_field.html' %} 
              <div class="col-md-6 offset-md-4">
                <button type="submit" class="btn btn-primary">
                  {% if is_edit %}
                    Сохранить
                  {% else %}
                    Добавить
                  {% endif %}               
                </button>
              </div>
            </form>
          </div> 
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}