{% extends 'base.html' %}
{% block title %}
<h1>{{ group.title }}</h1>
<h3>{{ group.description }}</h3>
{% endblock %} 
{% block content %}
<div class="container py-5">
    {% for post in posts %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name|linebreaksbr }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text|linebreaksbr }}</p>    
      {% if not forloop.last %}<hr>{% endif %}
    </article>
    {% endfor %}
</div>  
{% endblock %}