{% extends 'base.html' %}
{% block title %}
<title> {{ group.title }} </title>
{% endblock %} 
{% block content %}
<center><h1>{{ group.title }}</h1></center>
<center><p>{{ group.description }}</p></center>
<div class="container py-5">
    {% for post in posts %}
    {% if not forloop.last %}<hr>{% endif %}
    <article>
      <ul>
        <li>
          Автор: {{ post.author.get_full_name|linebreaksbr }}
        </li>
        <li>
          Дата публикации: {{ post.pub_date|date:"d E Y" }}
        </li>
      </ul>
      <p>{{ post.text|linebreaksbr }}</p>    
    </article>
    {% endfor %}
</div>  
{% endblock %}